html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eaf1f5;
}

.bg-primary {
  background-color: #29b6f6 !important;
}

.btn-secondary {
  color: white;
  background-color: #29b6f6;
  border-color: #29b6f6;
}

.jumbotron {
  background-color: #95cee9;
  color: black;
  margin: 10px;
  padding: 10px;
}

button {
  margin: 2px;
}

nav {
  background-color: #29b6f6;
}

.card {
  margin: 7px;
  z-index: 1;
}

.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.longer {
  min-width: 50px;
}

h3 {
  margin: 10px;
}

.moveDown {
  margin-top: 23px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Low {
  color: orangered;
  padding: 0 0;
  margin: 0 0;
}

.Out {
  color: red;
  padding: 0 0;
  margin: 0;
}
