html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eaf1f5;
}

.bg-primary {
  background-color: #29b6f6 !important;
}

.btn-secondary {
  color: white;
  background-color: #29b6f6;
  border-color: #29b6f6;
}

.jumbotron {
  background-color: #29b6f6;
  color: white;
  margin: 10px;
  padding: 10px;
}
button {
  margin: 5px;
}

p {
  color: black;
}

nav {
  background-color: #29b6f6;
}

.card {
  margin: 7px;
  z-index: 1;
}

.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.longer {
  min-width: 50px;
}

h3 {
  margin: 10px;
}

.moveDown {
  margin-top: 23px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.moveDown {
  margin-top: 27px;
}

.noOrder {
  color: maroon;
  margin: 5px;
  margin-left: 25px;
}

input {
  margin: 5px;
}

.Low {
  color: orangered;
  padding: 0 0;
  margin: 0 0;
}

.Out {
  color: red;
  padding: 0 0;
  margin: 0;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
}

.footer {
  position: fixed;
  bottom: 0 !important;
  width: 100%;
  height: 50px;
  background-color: #29b6f6;
  text-align: center;
  align-content: center;
  z-index: 2;
  line-height: 1rem;
}

.footerText {
  margin-top: 15;
  margin: 3px;
  color: white;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-size: 10pt;
}

.footer-nav a:hover {
  color: black;
}

.footer-nav a {
  text-decoration: none;
  margin-right: 5px;
  color: white;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-size: 10pt;
}

.slick-next:before, .slick-prev:before {
  font-size: 30px;
  line-height: 1;
  opacity: .75;
  color: #29b6f6;
}
.slick-dots {
  color: #29b6f6;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  /* .row {
    flex-direction: column;
  } */

  .card {
    max-width: 200px;
    padding: 2px;
  }

  .col-sm-6 {
    width: 50%;
  }

  .container {
    font-size: 78%;
  }

  h2 {
    font-size: 20px;
  }
}

.add-equipment-field {
  max-width: 50px;
  min-width: 50px;
}
